@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #272933;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #4c4adb;
    --cor-hover: #313135;

    --fonte-primaria:"Krona One", sans-serif;
    --fonte-secundaria:"Montserrat", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh;  */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 3% 0% 0% 13%;
}
.cabecalho__menu{
    display: flex;
    gap: 85px;
}
.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao{
    padding: 5% 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family:var(--fonte-primaria);
}

.portfolio_destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__paragrafo{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);

}

.links__redes{
    padding: 5% 13%;
    display: flex;
    flex-direction: inherit;
    align-items: center;
    justify-content: space-around;
    gap: 32px;
}

.links__redes__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.links__redes__sociais{
    /* background-color: #4c4adb; ctrl+k+c */
    display: flex;
    justify-content: center;
    gap: 15px;
    border: 3px inset var(--cor-terciaria);
    width: 55%;
    text-align: center;
    border-radius: 35px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 22px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.links__redes__sociais:hover{
    background-color: var(--cor-hover);
}
.apresentacao__imagem{
   width: 350px; 
   border: 3px inset var(--cor-terciaria);
   border-radius: 35px;

}

.rodape{
    padding: 18px;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}